/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
*{
  font-family: sans-serif;
  
}
body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: pink;
  /* background-image: url(https://img.freepik.com/free-photo/ai-technology-brain-background-digital-transformation-concept_53876-124672.jpg); */
  background-image: url("9117392.jpg");
  background-size: cover;
  color: #777;
  display: flex;
  justify-content: center;
}


.search-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
height: 300px;

}
.surprise{
  background-color: #ececf1;
  color: #000;
  border-radius: 5px;
  font-weight: 600;
  padding: 4px 12px;
  margin: 0 0 2px 5px;

}
.app{
  width: 90vw;
}
.input-container{
  width: 100%;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: rgba(0,0,82,0.15) 0 2px 4px ;

}
.input-container input{
  border: none;
  padding: 13px 14px;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
width: 90%;
font-weight: 200;

}
.input-container button{
  width: 10%;
  border-left: 1px #cacaca solid;
  background-color: #fff;
  color: #777;
  font-weight: bold;
  cursor: pointer;
}
.input-container input ::placeholder{
  color: white;
  font-weight: 200;
}
.intput-container button:active{
  background-color: #cacaca;

}
p{
  font-weight: 300;
  font-size: 25px;
  
}
.image-section{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;

}
.image-section img{
margin: 1px;
min-width: 250px;
max-width: 33%;
flex-grow: 1;

}
@media(max-width:556px){
  .image-section img{
    max-width: 100%;

  }
}
.f1{
  position:fixed;
  left:0;
  bottom: 0;
  width:100%;
  background-image: linear-gradient(rgb(15, 15, 125),rgb(182, 64, 168));
display: flex;
justify-content:space-evenly;
padding:0% 12px;
}
.f1 p{
  color: #cacaca;
}
